
#p1{
    font-weight: lighter;
    text-transform: uppercase;
    text-align: justify;
    text-indent: ;
    text-shadow:;
}
a{
    text-decoration: none;
}
h1{
    text-shadow: 4px 2px 2px rgb(157, 112, 112) ;
}